#### Como apoio na resolução do desafio usei os livros Python Data Science Handbook, Data Science from Scratch e Machine Learning With Python Cookbook da O'reilly. Para a definição do modelo de ML pesquisei e encontrei esse guia da própria documentação do ScikitLearn https://scikit-learn.org/stable/machine_learning_map.html

In [2]:
import pandas as pd

In [3]:
db = "db\desafio_indicium_imdb.csv"
df = pd.read_csv(db, index_col=0)

df.head()

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
5,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"

In [4]:
df.info()
#procurar motivo de valores nulos

<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, 1 to 999
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   999 non-null    object
 1   Released_Year  999 non-null    object
 2   Certificate    898 non-null    object
 3   Runtime        999 non-null    object
 4   Genre          999 non-null    object
 5   IMDB_Rating    999 non-null    float64
 6   Overview       999 non-null    object
 7   Meta_score     842 non-null    float64
 8   Director       999 non-null    object
 9   Star1          999 non-null    object
 10  Star2          999 non-null    object
 11  Star3          999 non-null    object
 12  Star4          999 non-null    object
 13  No_of_Votes    999 non-null    int64
 14  Gross          830 non-null    object
dtypes: float64(2), int64(1), object(12)
memory usage: 124.9+ KB

Nessa primeira análise conseguimos perceber alguns valores nulos em Meta Score, Certificate e Gross. Alguns desses valores podem atrapalhar futuramente na implementação de um modelo de machine learning. Para solucionar vamos ir um pouco mais afundo nos tipos de dados e depois aplicar as devidas correções para deixar o caminho aberto para a implementação do modelo.
Além dos valores nulos também precisamos atualizar alguns tipos de variáveis para tratar valores.

In [5]:
df['Released_Year']= pd.to_datetime(df['Released_Year'], errors='coerce').dt.year
df['Runtime'] = df['Runtime'].str.replace(' min', '').astype(int)
df['Gross'] = df['Gross'].str.replace(',', '').astype(float)
df.head()

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
1,The Godfather,1972.0,A,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
2,The Dark Knight,2008.0,UA,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
3,The Godfather: Part II,1974.0,A,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
4,12 Angry Men,1957.0,U,96,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0
5,The Lord of the Rings: The Return of the King,2003.0,U,201,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,377845905.0

Ainda não resolvemos nosso problema com o Meta_Score, Gross e Certificate.
Podemos plotar a quantidade em certificate e verificar qual a média de aparições para tomar uma decisão de como preencher (por ser um valor textual de classificação)

In [11]:
df.Certificate.value_counts()

Certificate
U           234
A           196
UA          175
R           146
PG-13        43
PG           37
Passed       34
G            12
Approved     11
TV-PG         3
GP            2
TV-14         1
Unrated       1
TV-MA         1
16            1
U/A           1
Name: count, dtype: int64

Nesse caso temos duas opções, a primeira é definir como Unrestricted ou Unrated.
Por um lado definir todos os filmes com Unrestricted poderia gerar um conflito em filmes com violência, apologia ao crime e drogas que estão sem suas devidas classificações
A melhor solução é criar mais uma categoria com Unknown e fazer testes usando Unknown / U / Unrated.